<!DOCTYPE>
<html>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= stylesheet_link_tag "slider" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "slider" %>
<%= csrf_meta_tags %>

    <head>
        <title>Chopstix Chinese Restaurant | <%= @title %></title>
    </head>
    <body onload="Slider();">
        <%= yield %>
    </body>

</html>
